{
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 6,
		"ecmaFeatures": {
			"impliedStrict": true,
			"jsx": true,
			"experimentalObjectRestSpread": true
		},
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"node": true,
		"jquery": true
	},
	"globals": {
		"Set": true,
		"let": true,
		"Promise": true
	},
	"plugins": [
		"react"
	],
	"rules": {
		"no-console": 0,
		"eqeqeq": ["error", "allow-null"],
		"no-extend-native": "error",
		"no-floating-decimal": "error",
		"array-bracket-spacing": ["error", "always", { "objectsInArrays": false }],
		"block-spacing": ["error", "always"],
		"brace-style": ["error", "1tbs"],
		"comma-dangle": ["error", "never"],
		"comma-spacing": ["error", {"before": false, "after": true}],
		"comma-style": ["error", "last"],
		"no-spaced-func": "error",
		"no-case-declarations": "off",
		"no-trailing-spaces": "error",
		"no-whitespace-before-property": "error",
		"object-curly-spacing": ["error", "always"],
		"quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true}],
		"semi-spacing": ["error", {"before": false, "after": true}],
		"space-in-parens": ["error", "always", {"exceptions": ["{}"]}],
		"space-infix-ops": "error",
		"space-unary-ops": ["error", {"words": true, "nonwords": false}],
		"template-curly-spacing": ["error", "always"],
		"arrow-spacing": ["error", { "before": true, "after": true }],
		"arrow-parens": ["error", "as-needed"],
		"react/jsx-uses-vars": "error",
		"react/jsx-uses-react": "error",
	}
}
